body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    background-color: #4b5658 !important;
}

h1 {
    text-align: center;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 10px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 10px;
}

form input[type=text] {
    width: 100%;
    font-size: 12px;
    padding: 15px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat > .username {
    font-weight: 800;
    font-size: 14px;
}

.message {
    padding-bottom: 20px;
    font-size: 12px;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}
/* input */
#userName {
    width: 100px;
    display: block;
    margin-bottom: 10px;
}
#userMessage {
    display: block;
}

.roomSelect {
    font-size: 12px;
}

#head {
    padding: 20px;}

#header {
    width: 100%;
    font-size: 3em !important;
    -webkit-animation: flashycolor infinite;
    animation: flashycolor infinite;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
}

@-webkit-keyframes flashycolor {
    0%   {color:#FF4D4D;}
    25%  {color:#FFF94D;}
    50%  {color:#40CFFF;}
    75%  {color:#61FF4D;}
    100% {color:#EF56FC;}
}

@keyframes flashycolor {
    0%   {color:#FF4D4D;}
    25%  {color:#FFF94D;}
    50%  {color:#40CFFF;}
    75%  {color:#61FF4D;}
    100% {color:#EF56FC;}
}
